.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #78ff7f;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
  -webkit-box-shadow:0px 1px 114px #0e1f08;
  -moz-box-shadow:0px 1px 114px #0e1f08;
  box-shadow:0px 1px 114px #0e1f08;
}
